* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 6px;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

section {
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
}

.btn-large {
    font-size: 2rem;
    padding: 2.2rem 1.6rem;
}

.btn {
    margin-top: 4rem;
    font-size: 2rem;
    font-weight: 400;
    display: inline-block;
    border: 2px solid transparent;
    border-radius: .4rem;
    cursor: pointer;
    transition: all .5s;
}

.btn-social {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
}

.btn-outline {
    color: #fff;
    border-color: #fff;
    background-color: transparent;
    padding: 2.2rem 1.6rem;
}

.btn-outline:hover {
    color: #212529;
    background-color: #fff;
}

.btn-primary {
    background-color: #BE726D;
    border-color: #BE726D;
    padding: 1.2rem 1rem;
}

.btn-primary:hover {
    background-color: #975454;
    border-color: #975454;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    margin:auto;
}

#profile {
    border-radius: 40%;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;

}

.col {
    float: left;
    width: 100%;
    padding: 1rem;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }

    html {
        font-size: 7px;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px;
    }

    html {
        font-size: 8px;
    }

    .col {
        width: 50%;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }

    html {
        font-size: 9px;
    }

    .col {
        width: 33.333%;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px;
    }

    html {
        font-size: 10px;
    }
}

.text-uppercase {
    text-transform: uppercase;
}

/*NAVBAR*/
nav {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: dimgrey;
    color: #FF9550;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    position: fixed;
    z-index: 500;
}

#logo-box {
    float: left;
    padding-top: 0.5rem;
}

#logo-box .logo {
    color: #FF9550;
    font-weight: 700;
    font-size: 3.2rem;
}

#nav-links {
    float: right;
}

#nav-links .nav-item {
    float: left;
    margin: .4rem;
}

#nav-links .nav-link {
    color: #FF9550;
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    padding: 1.6rem;
    letter-spacing: 0.1rem;
    transition: color 0.3s;

}

#nav-links .nav-link:hover {
    color: #D7385E;
}
#nav-links .nav-icon{
    display:none;
}

@media (max-width:992px) {
    #logo-box {
        float:none;
        text-align: left;
    }
    #nav-links {
        float:none;
    }
    
    #nav-links.responsive li:not(:first-child) {
		display: none;
	}
	
	#nav-links .nav-link {
		font-size: 2rem;
		padding-left: 0;
	}
	
	#nav-links .nav-item {
		float: none;
		text-align: left;
	}
	
	#nav-links .nav-icon {
		display: block;
		position: absolute;
		top: 10px;
		right: 5px;
		font-size: 3rem;
	}
}

/*header*/

header {
    background-color: #C2BDBF;
    padding-top: calc(112px + 5rem);
    padding-bottom: 112px;
    text-align: center;
}

header h1 {
    color: #805E5C;
    font-size: 5.6rem;
}

header h2 {
    color: #805E5C;
    font-size: 1.8rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;

}

hr.rocket-light {
    border-color: #805E5C;
}

hr.rocket-dark {
    border-color: #E78967;
}

hr.rocket-third {
    border-color: #fff;
}

hr.rocket-last {
    border-color: #2C3E50;
}

.rocket-light, .rocket-dark, .rocket-third, .rocket-last {
    border: none;
    border-top: .4rem solid;
    max-width: 25rem;
    margin: 3rem auto;
    padding: 5px;
    height: 0;
    overflow: visible;

}

.rocket-light::after {
    color: #805E5C;
    background-color: #C2BDBF;
}

.rocket-dark::after {
    color: #E78967;
    background-color: white;
}

.rocket-third::after {
    color: #fff;
    background-color: #BE726D;
}

.rocket-last::after {
    color: #2C3E50;
    background-color: #fff;
}


.rocket-light::after, .rocket-dark::after, .rocket-third::after, .rocket-last::after {
    content: "\f135";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 3rem;
    position: relative;
    top: -3rem;
    padding: 0 8px;
}

/*sub-groups*/

#sub-groups {
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;

}

#sub-groups h2 {
    font-size: 4.8rem;
    color: #E78967;
}

.subgroups-item {
    position: relative;
}

.subgroups-item img {
    display: block;
    border-radius: 50%;

}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #C2BDBF;
    opacity: 0;
    transition: opacity .5s ease;
    border-radius: 50%;

}

.img-overlay .icon {
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subgroups-item:hover .img-overlay {
    opacity: 0.8;

}

/*about*/
#about {
    background-color: #BE726D;
    color: #fff;
}


#about h2 {
    font-size: 4.8rem;
}

#about-text {
    text-align: left;
}

#about-text .left {
    float: none;
    width: 100%;
    padding-right: 5px;
    padding-left: 25px;
}

#about-text .right {
    float: none;
    width: 100%;
    padding-left: 5px;
    padding-right: 25px;
}


#about-text .text {
    font-size: 2rem;
}

@media (min-width: 992px) {
    #about-text .left {
        float: left;
        width: 50%;
        padding-right: 10px;
        padding-left: 210px;
    }

    #about-text .right {
        float: right;
        width: 50%;
        padding-left: 10px;
        padding-right: 210px;
    }
}


/*contact*/

#contact {}

#contact h2 {
    font-size: 4.8rem;
    color: #2C3E50;
}

#contact-form {
    width: 70%;
    margin: 0 auto;
    text-align: left;
}

.form-group {
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 3rem;
    margin-bottom: 4rem;
}


.form-group input,
.form-group textarea {
    border: none;
    width: 100%;
    display: block;
    font-size: 2.4rem;
}

.form-group input:focus {
    outline: 0;
}

footer {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #2C3E50;
    color: #fff;
    text-align: center;
}

footer h4 {
    font-size: 2.4rem;
}

footer p {
    font-size: 2rem;
    margin-top: 1rem;
}

footer li {
    display: inline-block;
    margin-right: 1rem;
    text-align: center;
}

.copyright {
    background-color: #1A252F;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    color: #fff;
    text-align: center;
}
