* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: lightgray;
}
#container {
    width: 1140px;
    margin: 20px auto 20px auto;

}

#targets {
    box-sizing: border-box;
    width: 75%;
    float: left;
}

h2{ 
    margin-bottom: 10px;
}

.target {
    position: relative;
    background-color: antiquewhite;
    margin-bottom: 15px;
    padding: 20px;

}

#other {
    box-sizing: border-box;
    width: 25%;
    background-color: antiquewhite;
    float: left;
    position: fixed;
    top: 20px;
    right: 0px;
    padding-left: 20px;
    
}

#msgbox {
    padding: 20px;
    margin: 50px;
    width: 200px;
    border-radius: 3px;
    border: 3px groove pink;
}

.date {
    position: absolute;
    top: 15px;
    right: 20px;
}

#tags li{
    list-style: none;
}
#author {
    border: 2px solid pink;
}
