 body {
    
     height: 100%;
     width: 100%;
     margin: 0;
     padding: 0;
     background: #7c7067;
 }

#image {
    width: 100%;
    height: 48rem;
    margin: 0;
     padding: 0;
    background-image: url("img/az.gif");
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
}

nav li {
    display: inline-block;
    float: right;
    margin-right: 1px;
}


nav li a {
    display: block;
    min-width: 140px;
    color: #fff;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

/*background color*/
nav li a:hover {
    background: #B8860C;
}

#navbarCollapse ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item li {
    display: inline-block;
    float: right;
    margin-right: 1px;
}


.nav-item li a {
    display: block;
    min-width: 140px;
    color: #fff;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.nav-item li a:hover {
    text-decoration: underline;
    text-decoration-color: #B8860C;
    text-decoration-style: double;
}

.nav-item li:hover ul a {
    background: #f3f3f3;
    color: black;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
}

.nav-item li:hover ul a:hover {
    text-decoration: underline;
    color: #B8860C;
}

.hidden li {
    display: block;
    float: none;
}

.hidden li a {
    text-align: left;
    min-width: 100px;
    padding: 0 20px;
}


#navbarCollapse li ul {
    display: none;
}

#navbarCollapse ul li a:hover + .hidden,
.hidden:hover {
    display: block;
}

#navbarCollapse ul li:hover .hidden {
    display: block;
}

 .searchbar {
     margin-bottom: auto;
     margin-top: auto;
     height: 40px;
     background-color: #353b48;
     border-radius:30px;
     padding: 10px;
 }

 .search_input {
     color: white;
     border: 0;
     outline: 0;
     background: none;
     width: 0;
     caret-color: transparent;
     line-height: 30px;
     transition: width 0.4s linear;
 }

 .searchbar:hover > .search_input {
     padding: 0 10px;
     width: 400px;
     caret-color: red;
     transition: width 0.4s linear;
 }

 .searchbar:hover > .search_icon {
     background: white;
     color: #e74c3c;
 }

 .search_icon {
     height: 25px;
     width: 25px;
     float: right;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     color: white;
     text-decoration: none;
 }
